API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
API_TOKEN=ATTAxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
BOARD_ID=xxxxxxxxxxxxxxxxxxxxxxxx
LIST_REVIEW_QC=xxxxxxxxxxxxxxxxxxxxxxxx
LIST_EDITING=xxxxxxxxxxxxxxxxxxxxxxxx
LIST_READY_PUBLISH=xxxxxxxxxxxxxxxxxxxxxxxx
